{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cat Collector</title>
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    <link rel="shortcut icon" href="{% static "images/splash.svg" %}" type="image/x-icon">

    {% block head %}{% endblock head %}

</head>
<body>
    <header>
        <div class="header-logo-container">
            <a href="/">
                <img src="{% static "images/header-logo.svg" %}" alt="The Cat Collector Logo">
            </a>
        </div>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li><a href="{% url 'cat-index' %}">All Cats</a></li>
                <li><a href="{% url "toy-index" %}">All Toys</a></li>
                <li><a href="{% url "cat-create" %}">Add a Cat</a></li>
                <li><a href="{% url "toy-create" %}">Add a Toy</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li>
                    <form action="{% url "logout" %}" method="post" id="logout-form">
                        {% csrf_token %}
                        <button type="submit">Log out</button>
                    </form>
                </li>
                {% else %}
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url "home" %}">Login</a></li>
                <li><a href="{% url "signup" %}">Sign up</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock content %}
    </main>
</body>
</html>